*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #23252C;
}

.pfp{
    width: 317px;
    height: 317px;
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;

}

.page--container{
    border-radius: 10px;
    width: 317px;
    height: 780px;
    
    margin: auto;
    background-color: #F5F5F5;
    
}

.page--container2{
    border-radius: 10px;
    margin: 20px auto;
    background-color: #F5F5F5;
    
}
.content-container{
    color: black;
    font-family: 'Inter';
}
.Name{
    text-align: center;
    margin: 15px 0px 10px 0px;
    font-weight: bold;
    font-family: Inter;
    font-size: 25px;
}
.position{
    text-align: center;
    color: #F47D27;
    font-size: 12.8px;
    margin-bottom: 5px;
}
.website{
    display: block;
    font-size: 10.24px;
    text-align: center;
    color: #4A4E74;

    
}




.footer{
    background-color: #D5D4D8;
    align-items: center;
    width: 317px;
    height: 64px;
    padding-top: 15px;
    padding-left: 70px;
    
}

.footer img{
    width: 25px;
    height: 25px;
    margin-right: 15px;

}
.btn--class{
    display: flex;
    padding: 20px 10px;
    justify-content: space-between;
}
.info--buttons{
    width:115px ;
    height: 40px;
    border-radius: 6px ;
    display: flex;
    align-items: center;

}
.info--buttons img{
    margin:3px;
    height: 20px;    
}

.btn--email{
    background-color: white;
    display: flex;
    font-size: 20px;
    margin-left: 20px;
    border-color: #23252C;
    
}
.btn--linkedin{
    background-color: #297FE5;
    color: white;
    display: flex;
    font-size: 20px;
    margin-right: 20px;
    border: none;
}

.about, .interests{
    margin: 15px;
}

.about p,.interests p{
    font-size: 10.24;
    
}

.about h3,.interests h3{
    font-size: 16;
    font-weight: bold;
}
